asyncio
beautifulsoup4
playwright
python-telegram-bot
apt
apt:libgstgl-1.0-0
apt:libgstcodecparsers-1.0-0
apt:libavif15
apt:libenchant2-2
apt:libsecret-1-0
apt:libmanette-0.2-0
apt:libgles2-mesa
apt:libglib2.0-0
apt:libx11-xcb1
apt:libxcomposite1
apt:libxrandr2
apt:libxss1
apt:libxtst6
apt:libappindicator3-1
apt:libnss3
apt:libatk-bridge2.0-0
apt:libatk1.0-0
apt:libcups2
apt:libdbus-1-3
apt:libgdk-pixbuf2.0-0
apt:libnspr4
apt:libatspi2.0-0
apt:ca-certificates
apt:wget
apt:curl
